<BaseProject
  ProjectTemplateFile="@(ProjectConfigName)_project"
  IncludeDirectories=""
  LibraryDirectories=""
  LinkLibraries=""
  PreprocessorDefinitions=""
  PrecompiledHeader=""
  HLSLShaderMain="main"
  HLSLAdditionalFlags=""
  SXFXAdditionalArguments=""
  CUDACustomParameters=""

  <!-- default Visual Studio settings -->
  VSAdditionalOptions="/bigobj"
  VSDisableSpecificWarnings=""
  VSWarningLevel="@(VSWarningLevel_4)"
  VSUsePrecompiledHeader="@(VSPCH_Disabled)"
  VSCompileAs="@(VSCompileAs_Default)"
  VSDebugOptimization="@(VSOptimization_Disabled)"
  VSDebugBasicRuntimeChecks="@(VSBasicRTChecks_Both)"
  VSSubSystem="@(VSSubSystem_Windows)"
  VSMultiProcessorCompilation="true"
  VSMinimalRebuild="false"
  VSCompileAsWinRT="false"
/>

<PropertyListInputFormats>
  <PropertyList Name="IncludeDirectories" Separator=";" />
  <PropertyList Name="PreprocessorDefinitions" Separator=";" />
  <PropertyList Name="LinkLibraries" Separator=";" />
  <PropertyList Name="Files" Separator=" " />
</PropertyListInputFormats>

<VS2008
  SupportedPlatforms="win32 win64 x360"
  ProjectConfigName="vs2008"
  ProjectOutputDir="vs2008"
  DefaultCompilerName="vs2008"
  DefaultCompilerDefinition="PFC_COMPILER_MSVC2008"
  DXSDK_INCLUDE_DIR="$(DXSDK_DIR)Include"

  <!-- standard Visual Studio property values -->
  VSWarningLevel_Off="0"
  VSWarningLevel_1="1"
  VSWarningLevel_2="2"
  VSWarningLevel_3="3"
  VSWarningLevel_4="4"
  VSWarningLevel_All="4"
  VSOptimization_Disabled="0"
  VSOptimization_MinSize="1"
  VSOptimization_MaxSpeed="2"
  VSOptimization_Full="3"
  VSPCH_Disabled="0"
  VSPCH_Create="1"
  VSPCH_Use="2"
  VSBasicRTChecks_Default="0"
  VSBasicRTChecks_StackFrames="1"
  VSBasicRTChecks_UninitVars="2"
  VSBasicRTChecks_Both="3"
  VSCompileAs_Default="0"
  VSCompileAs_C="1"
  VSCompileAs_Cpp="2"
  VSSubSystem_Console="1"
  VSSubSystem_Windows="2"
>
  <PropertyListOutputFormats>
    <PropertyList Name="LinkLibraries" Format="@(Value) " />
  </PropertyListOutputFormats>
</VS2008>

<VS2010
  SupportedPlatforms="win32 win64 x360 orbis"
  ProjectConfigName="vs2010"
  ProjectOutputDir="vs2010"
  DefaultCompilerName="vs2010"
  DefaultCompilerDefinition="PFC_COMPILER_MSVC2010"
  DXSDK_INCLUDE_DIR="$(DXSDK_DIR)Include"

  <!-- standard Visual Studio property values -->
  VSWarningLevel_Off="TurnOffAllWarnings"
  VSWarningLevel_1="Level1"
  VSWarningLevel_2="Level2"
  VSWarningLevel_3="Level3"
  VSWarningLevel_4="Level4"
  VSWarningLevel_All="EnableAllWarnings"
  VSOptimization_Disabled="Disabled"
  VSOptimization_MinSize="MinSpace"
  VSOptimization_MaxSpeed="MaxSpeed"
  VSOptimization_Full="Full"
  VSPCH_Disabled="NotUsing"
  VSPCH_Create="Create"
  VSPCH_Use="Use"
  VSBasicRTChecks_Default="Default"
  VSBasicRTChecks_StackFrames="StackFrameRuntimeCheck"
  VSBasicRTChecks_UninitVars="UninitializedLocalUsageCheck"
  VSBasicRTChecks_Both="EnableFastChecks"
  VSCompileAs_Default="Default"
  VSCompileAs_C="CompileAsC"
  VSCompileAs_Cpp="CompileAsCpp"
  VSSubSystem_Console="Console"
  VSSubSystem_Windows="Windows"
/>

<VS2012
  SupportedPlatforms="win32 win64 x360 durango orbis"
  ProjectConfigName="vs2012"
  ProjectOutputDir="vs2012"
  DefaultCompilerName="vs2012"
  DefaultCompilerDefinition="PFC_COMPILER_MSVC2012"
  DXSDK_INCLUDE_DIR=""

  <!-- standard Visual Studio property values -->
  VSToolsVersion="4.0"
  VSPlatformToolset="v110"
  VSWindowsTargetPlatformVersion="8.1"
  VSWarningLevel_Off="TurnOffAllWarnings"
  VSWarningLevel_1="Level1"
  VSWarningLevel_2="Level2"
  VSWarningLevel_3="Level3"
  VSWarningLevel_4="Level4"
  VSWarningLevel_All="EnableAllWarnings"
  VSOptimization_Disabled="Disabled"
  VSOptimization_MinSize="MinSpace"
  VSOptimization_MaxSpeed="MaxSpeed"
  VSOptimization_Full="Full"
  VSPCH_Disabled="NotUsing"
  VSPCH_Create="Create"
  VSPCH_Use="Use"
  VSBasicRTChecks_Default="Default"
  VSBasicRTChecks_StackFrames="StackFrameRuntimeCheck"
  VSBasicRTChecks_UninitVars="UninitializedLocalUsageCheck"
  VSBasicRTChecks_Both="EnableFastChecks"
  VSCompileAs_Default="Default"
  VSCompileAs_C="CompileAsC"
  VSCompileAs_Cpp="CompileAsCpp"
  VSSubSystem_Console="Console"
  VSSubSystem_Windows="Windows"
/>

<VS2013
  SupportedPlatforms="win32 win64 x360 durango orbis"
  ProjectConfigName="vs2012"
  ProjectOutputDir="vs2013"
  DefaultCompilerName="vs2013"
  DefaultCompilerDefinition="PFC_COMPILER_MSVC2013"
  DXSDK_INCLUDE_DIR=""

  <!-- standard Visual Studio property values -->
  VSToolsVersion="14.0"
  VSPlatformToolset="v120"
  VSWindowsTargetPlatformVersion="8.1"
  VSWarningLevel_Off="TurnOffAllWarnings"
  VSWarningLevel_1="Level1"
  VSWarningLevel_2="Level2"
  VSWarningLevel_3="Level3"
  VSWarningLevel_4="Level4"
  VSWarningLevel_All="EnableAllWarnings"
  VSOptimization_Disabled="Disabled"
  VSOptimization_MinSize="MinSpace"
  VSOptimization_MaxSpeed="MaxSpeed"
  VSOptimization_Full="Full"
  VSPCH_Disabled="NotUsing"
  VSPCH_Create="Create"
  VSPCH_Use="Use"
  VSBasicRTChecks_Default="Default"
  VSBasicRTChecks_StackFrames="StackFrameRuntimeCheck"
  VSBasicRTChecks_UninitVars="UninitializedLocalUsageCheck"
  VSBasicRTChecks_Both="EnableFastChecks"
  VSCompileAs_Default="Default"
  VSCompileAs_C="CompileAsC"
  VSCompileAs_Cpp="CompileAsCpp"
  VSSubSystem_Console="Console"
  VSSubSystem_Windows="Windows"
/>

<VS2015
  SupportedPlatforms="win32 win64 x360 durango orbis"
  ProjectConfigName="vs2012"
  ProjectOutputDir="vs2015"
  DefaultCompilerName="vs2015"
  DefaultCompilerDefinition="PFC_COMPILER_MSVC2015"
  DXSDK_INCLUDE_DIR=""
  VSDisableSpecificWarnings="4458;4456;@(VSDisableSpecificWarnings)"

  <!-- standard Visual Studio property values -->
  VSToolsVersion="14.0"
  VSPlatformToolset="v140"
  VSWindowsTargetPlatformVersion="8.1"
  VSWarningLevel_Off="TurnOffAllWarnings"
  VSWarningLevel_1="Level1"
  VSWarningLevel_2="Level2"
  VSWarningLevel_3="Level3"
  VSWarningLevel_4="Level4"
  VSWarningLevel_All="EnableAllWarnings"
  VSOptimization_Disabled="Disabled"
  VSOptimization_MinSize="MinSpace"
  VSOptimization_MaxSpeed="MaxSpeed"
  VSOptimization_Full="Full"
  VSPCH_Disabled="NotUsing"
  VSPCH_Create="Create"
  VSPCH_Use="Use"
  VSBasicRTChecks_Default="Default"
  VSBasicRTChecks_StackFrames="StackFrameRuntimeCheck"
  VSBasicRTChecks_UninitVars="UninitializedLocalUsageCheck"
  VSBasicRTChecks_Both="EnableFastChecks"
  VSCompileAs_Default="Default"
  VSCompileAs_C="CompileAsC"
  VSCompileAs_Cpp="CompileAsCpp"
  VSSubSystem_Console="Console"
  VSSubSystem_Windows="Windows"
/>

<VS2017
  SupportedPlatforms="win32 win64"
  ProjectConfigName="vs2012"
  ProjectOutputDir="vs2017"
  DefaultCompilerName="vs2017"
  DefaultCompilerDefinition="PFC_COMPILER_MSVC2017"
  DXSDK_INCLUDE_DIR=""
  VSDisableSpecificWarnings="4458;4456;@(VSDisableSpecificWarnings)"

  <!-- standard Visual Studio property values -->
  VSToolsVersion="15.0"
  VSPlatformToolset="v141"
  VSWindowsTargetPlatformVersion="10.0.16299.0"
  VSWarningLevel_Off="TurnOffAllWarnings"
  VSWarningLevel_1="Level1"
  VSWarningLevel_2="Level2"
  VSWarningLevel_3="Level3"
  VSWarningLevel_4="Level4"
  VSWarningLevel_All="EnableAllWarnings"
  VSOptimization_Disabled="Disabled"
  VSOptimization_MinSize="MinSpace"
  VSOptimization_MaxSpeed="MaxSpeed"
  VSOptimization_Full="Full"
  VSPCH_Disabled="NotUsing"
  VSPCH_Create="Create"
  VSPCH_Use="Use"
  VSBasicRTChecks_Default="Default"
  VSBasicRTChecks_StackFrames="StackFrameRuntimeCheck"
  VSBasicRTChecks_UninitVars="UninitializedLocalUsageCheck"
  VSBasicRTChecks_Both="EnableFastChecks"
  VSCompileAs_Default="Default"
  VSCompileAs_C="CompileAsC"
  VSCompileAs_Cpp="CompileAsCpp"
  VSSubSystem_Console="Console"
  VSSubSystem_Windows="Windows"
/>

<VS2019
  SupportedPlatforms="win32 win64"
  ProjectConfigName="vs2012"
  ProjectOutputDir="vs2019"
  DefaultCompilerName="vs2019"
  DefaultCompilerDefinition="PFC_COMPILER_MSVC2019"
  DXSDK_INCLUDE_DIR=""
  VSDisableSpecificWarnings="4458;4456;@(VSDisableSpecificWarnings)"

  <!-- standard Visual Studio property values -->
  VSToolsVersion="15.0"
  VSPlatformToolset="v142"
  VSWindowsTargetPlatformVersion="10.0"
  VSWarningLevel_Off="TurnOffAllWarnings"
  VSWarningLevel_1="Level1"
  VSWarningLevel_2="Level2"
  VSWarningLevel_3="Level3"
  VSWarningLevel_4="Level4"
  VSWarningLevel_All="EnableAllWarnings"
  VSOptimization_Disabled="Disabled"
  VSOptimization_MinSize="MinSpace"
  VSOptimization_MaxSpeed="MaxSpeed"
  VSOptimization_Full="Full"
  VSPCH_Disabled="NotUsing"
  VSPCH_Create="Create"
  VSPCH_Use="Use"
  VSBasicRTChecks_Default="Default"
  VSBasicRTChecks_StackFrames="StackFrameRuntimeCheck"
  VSBasicRTChecks_UninitVars="UninitializedLocalUsageCheck"
  VSBasicRTChecks_Both="EnableFastChecks"
  VSCompileAs_Default="Default"
  VSCompileAs_C="CompileAsC"
  VSCompileAs_Cpp="CompileAsCpp"
  VSSubSystem_Console="Console"
  VSSubSystem_Windows="Windows"
/>

<VS2022
  SupportedPlatforms="win32 win64"
  ProjectConfigName="vs2012"
  ProjectOutputDir="vs2022"
  DefaultCompilerName="vs2022"
  DefaultCompilerDefinition="PFC_COMPILER_MSVC2022"
  DXSDK_INCLUDE_DIR=""
  VSDisableSpecificWarnings="4458;4456;@(VSDisableSpecificWarnings)"

  <!-- standard Visual Studio property values -->
  VSToolsVersion="15.0"
  VSPlatformToolset="v143"
  VSWindowsTargetPlatformVersion="10.0"
  VSWarningLevel_Off="TurnOffAllWarnings"
  VSWarningLevel_1="Level1"
  VSWarningLevel_2="Level2"
  VSWarningLevel_3="Level3"
  VSWarningLevel_4="Level4"
  VSWarningLevel_All="EnableAllWarnings"
  VSOptimization_Disabled="Disabled"
  VSOptimization_MinSize="MinSpace"
  VSOptimization_MaxSpeed="MaxSpeed"
  VSOptimization_Full="Full"
  VSPCH_Disabled="NotUsing"
  VSPCH_Create="Create"
  VSPCH_Use="Use"
  VSBasicRTChecks_Default="Default"
  VSBasicRTChecks_StackFrames="StackFrameRuntimeCheck"
  VSBasicRTChecks_UninitVars="UninitializedLocalUsageCheck"
  VSBasicRTChecks_Both="EnableFastChecks"
  VSCompileAs_Default="Default"
  VSCompileAs_C="CompileAsC"
  VSCompileAs_Cpp="CompileAsCpp"
  VSSubSystem_Console="Console"
  VSSubSystem_Windows="Windows"
/>

<Builds>
  <Build BuildName="debug"
         Build="debug"
         PreprocessorDefinitions="PFC_DEBUG;_DEBUG;@(PreprocessorDefinitions)"
  />
  <Build BuildName="release"
         Build="release"
         PreprocessorDefinitions="PFC_RELEASE;NDEBUG;@(PreprocessorDefinitions)"
  />
  <Build BuildName="retail"
         Build="retail"
         PreprocessorDefinitions="PFC_RETAIL;NDEBUG;@(PreprocessorDefinitions)"
  />
</Builds>

<Platforms>
  <Platform PlatformName="win32"
            VSPlatformType="Win32"
            CompilerName="@(DefaultCompilerName)"
            PreprocessorDefinitions="PFC_PLATFORM_WIN32;WIN32;_WINDOWS;@(PreprocessorDefinitions);@(DefaultCompilerDefinition)"
            LinkLibraries="user32.lib;gdi32.lib;ws2_32.lib;@(LinkLibraries)"
            ExeExt=".exe"
            LibExt=".lib"
            DllExt=".dll"
  />
  <Platform PlatformName="win64"
            VSPlatformType="x64"
            CompilerName="@(DefaultCompilerName)"
            PreprocessorDefinitions="PFC_PLATFORM_WIN64;WIN32;_WINDOWS;@(PreprocessorDefinitions);@(DefaultCompilerDefinition)"
            LinkLibraries="user32.lib;gdi32.lib;ws2_32.lib;@(LinkLibraries)"
            ExeExt=".exe"
            LibExt=".lib"
            DllExt=".dll"
  />
  <Platform PlatformName="linux32"
            CompilerName="gcc"
            PreprocessorDefinitions="PFC_PLATFORM_LINUX32;@(PreprocessorDefinitions);@(DefaultCompilerDefinition)"
            ExeExt=""
            LibExt=".a"
            DllExt=".so"
  />
  <Platform PlatformName="linux64"
            CompilerName="gcc"
            PreprocessorDefinitions="PFC_PLATFORM_LINUX64;@(PreprocessorDefinitions);@(DefaultCompilerDefinition)"
            ExeExt=""
            LibExt=".a"
            DllExt=".so"
  />
  <Platform PlatformName="x360"
            VSPlatformType="Xbox 360"
            CompilerName="@(DefaultCompilerName)"
            PreprocessorDefinitions="PFC_PLATFORM_X360;_XBOX;@(PreprocessorDefinitions);@(DefaultCompilerDefinition)"
            ExeExt=".exe"
            LibExt=".lib"
            DllExt=".dll"
  />
  <Platform PlatformName="durango"
            VSPlatformType="Durango"
            CompilerName="@(DefaultCompilerName)"
            PreprocessorDefinitions="PFC_PLATFORM_DURANGO;__WRL_NO_DEFAULT_LIB__;_XM_AVX_INTRINSICS_;_XM_F16C_INTRINSICS_;MONOLITHIC=1;@(PreprocessorDefinitions);@(DefaultCompilerDefinition)"
            LinkLibraries="kernelx.lib;combase.lib;ws2_32.lib;@(LinkLibraries)"
            VSCompileAsWinRT="true"
            ExeExt=".exe"
            LibExt=".lib"
            DllExt=".dll"
  />
  <Platform PlatformName="orbis"
            VSPlatformType="ORBIS"
            CompilerName="gcc"
            PreprocessorDefinitions="PFC_PLATFORM_ORBIS;@(PreprocessorDefinitions);PFC_COMPILER_GCC"
            LinkLibraries="-lScePosix_stub_weak;@(LinkLibraries)"
            ExeExt=".elf"
            LibExt=".a"
            DllExt=".so"
  />
</Platforms>
