		<Configuration
			Name="@(BuildName)|@(VSPlatformType)"
			OutputDirectory="@(OutputDirectory)"
			IntermediateDirectory="@(IntermediateDirectory)"
			ConfigurationType="2"
			CharacterSet="2"
			>
			<Tool
				Name="VCPreBuildEventTool"
			/>
			<Tool
				Name="VCCustomBuildTool"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
			/>
			<Tool
				Name="VCCLCompilerTool"
				AdditionalOptions="/Oy- @(VSAdditionalOptions)"
				Optimization="3"
				InlineFunctionExpansion="2"
				EnableIntrinsicFunctions="true"
				FavorSizeOrSpeed="1"
				AdditionalIncludeDirectories="@(IncludeDirectories)"
				PreprocessorDefinitions="@(PreprocessorDefinitions)"
				StringPooling="true"
				MinimalRebuild="@(VSMinimalRebuild)"
				ExceptionHandling="1"
				RuntimeLibrary="2"
				BufferSecurityCheck="false"
				FloatingPointModel="2"
				RuntimeTypeInfo="true"
				UsePrecompiledHeader="@(VSUsePrecompiledHeader)"
				PrecompiledHeaderThrough="@(PrecompiledHeader)"
				PrecompiledHeaderFile="@(IntermediateDirectory)/@(ProjectName)_@(BuildName).pch"
				ProgramDataBaseFileName="@(OutputDirectory)/@(ProjectName)_@(PlatformName)_@(BuildName).pdb"
				WarningLevel="@(VSWarningLevel)"
				DebugInformationFormat="3"
				CompileAs="@(VSCompileAs)"
				DisableSpecificWarnings="@(VSDisableSpecificWarnings)"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLinkerTool"
				AdditionalDependencies="@(LinkLibraries)"
				OutputFile="@(OutputDirectory)/@(OutputFile)@(OutputFileExt)"
				ModuleDefinitionFile="@(VSModuleDefinitionFile)"
				LinkIncremental="1"
				AdditionalLibraryDirectories="@(LibraryDirectories)"
				GenerateDebugInformation="true"
				ProgramDataBaseFile="@(OutputDirectory)/@(ProjectName)_@(PlatformName)_@(BuildName).pdb"
				OptimizeReferences="2"
				EnableCOMDATFolding="2"
				ImportLibrary="@(OutputDirectory)/@(OutputFile).lib"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCManifestTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
			/>
			<Tool
				Name="VCFxCopTool"
			/>
			<Tool
				Name="VCAppVerifierTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
		</Configuration>
